@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins',sans-serif;
    background-color: #f1f9fc;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 400px;
    height: 615px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #f6fcfe;
    box-shadow: 0px 20px 70px 0px rgba(0,0,0,0.21);
    position: relative;
}
.card .inside{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -120px;
    font-weight: 600;
    z-index: 1;
}
.card .upside{
    position: absolute;
    width: 100%;
    height: 437px;
    background-image: url('image.jpg');
    background-position: 50%;
    background-size: cover;
    z-index: 3;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.pCard_on .upside{
    height: 100px;
    box-shadow: 0 0 30px #cfd8dc;
}
.card .upside .text{
    position: absolute;
    top: 319px;
    left: 0;
    right: 0;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.pCard_on .upside .text{
    top: 20px;
}
.card .upside .text h2{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}
.card .upside .text p{
    margin: 0;
    font-size: 16px;
    color: #e3f1f5;
}
.card .upside .add{
    border-radius: 50%;
    background-color: #6615a8;
    box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.43);
    position: absolute;
    top: 392px;
    left: 0;
    right: 0;
    margin: auto;
    width: 88px;
    height: 88px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.pCard_on .upside .add{
    transform: rotate(360deg) scale(0.5);
    top: 470px;
}
.card .bottom{
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 178px;
    z-index: 2;
    transition: 0.5s ease-in-out;
}
.pCard_on .bottom{
    height: 100px;
    box-shadow: 0 0 30px #cfd8dc;
}
.card .bottom div{
    width: 33.333%;
    float: left;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}

.card .bottom1 div{
    width: 33.333%;
    float: left;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
.card .bottom1 div p:first-of-type{
    color: #334750;
    margin-bottom: 5px;
}
.card .bottom1 div p:last-of-type{
    color: #334750;
    font-weight: 700;
    margin-top: 0;
}
.pCard_on .bottom div{
    margin-top: 10px;
}
.card .bottom div p:first-of-type{
    color: #68818c;
    margin-bottom: 5px;
}
.card .bottom div p:last-of-type{
    color: #334750;
    font-weight: 700;
    margin-top: 0;
}
.card .inside a i{
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}
.card .inside a i:hover{
    transform: scale(1.2);
}
.card .inside a:nth-of-type(1) i{
    color: #3b5998;
    border: 2px solid #3b5998;
}
.card .inside a:nth-of-type(2) i{
    color: #0077b5;
    border: 2px solid #0077b5;
}
.card .inside a:nth-of-type(3) i{
    color: #1769ff;
    border: 2px solid #1769ff;
}
.card .inside a:nth-of-type(4) i{
    color: #B57313;
    border: 2px solid #B57313;
}
.card .inside a:nth-of-type(5) i{
    color: #1769ff;
    border: 2px solid #1769ff;
}
.card .upside .add{
    color: white;
    font-size: 38px;
    line-height: 88px;
}
